.outer{
    height: 400px;
    width: 400px;
    background-color: #a6a9b6;
    border: 10px solid #666360;
    position: relative;
}
.inner{
    height: 200px;
    width: 200px;
    position: absolute;
}
.orange{
    background-color: #ff912e;
    bottom: 0px;
}
.grey{
    background-color: #e4e4e4;
    right: 0px;
}